<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Разработал <a href="https://github.com/MironBerch">Берчетов Мирон</a></p>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{% url 'events_list' %}" class="nav-link px-2 text-body-secondary">На главную</a></li>
            <li class="nav-item"><a href="{% url 'site_map' %}" class="nav-link px-2 text-body-secondary">Карта сайта</a></li>
        </ul>
    </footer>
</div>
