<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'events_list' %}" class="nav-link px-2 link-secondary">На главную</a></li>
            <li><a href="{% url 'diplomas_list' %}" class="nav-link px-2">Мои дипломы</a></li>
        </ul>
        <div class="col-md-3 text-end">
            {% if request.user.is_authenticated %}
                <a href="{% url 'settings_dashboard' %}"><button type="button" class="btn btn-outline-primary me-2">{{ request.user.full_name }}</button></a>
            {% else %}
                <a href="{% url 'signin' %}"><button type="button" class="btn btn-outline-primary me-2">Вход</button></a>
                <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary">Регистрация</button></a>
            {% endif %}
        </div>
    </header>
</div>
