{% extends "base.html" %}

{% block title %}
    {{ event.name }} &bull;
{% endblock %}

{% block content %}
    <div class="">
        <h1 class="h1 text-center">{{ event.name }}</h1>
        <div class="d-flex align-items-center py-4 bg-body-tertiary">
            <div class="form w-100 m-auto">
                {% if event.status == 'Регистрация открыта' and not is_user_participation_of_event %}
                    {% if event.date_of_ending_registration %}
                        Регистрация заканчивается {{ event.date_of_ending_registration }}<br>
                    {% endif %}
                    <div style="display: flex; justify-content: center;">
                        <a href="{% url 'register_on_event' slug=event.slug %}" class="btn btn-primary w-100 py-2" style="justify-content: center;">Регистрация</a>
                    </div>
                    <br>
                {% endif %}
                <div class="nav-scroller py-1 mb-3 border-bottom">
                    <nav class="nav nav-underline justify-content-between">
                        <a class="nav-item nav-link link-body-emphasis" href="{% url 'event_detail' slug=event.slug %}">О событии</a>
                        {% if is_user_participation_of_event or teams or participants %}
                            <a class="nav-item nav-link link-body-emphasis" href="{% url 'edit_participant_event' slug=event.slug %}">Анкета</a>
                            {% if event.task_set.exists or event.need_presentation %}
                                <a class="nav-item nav-link link-body-emphasis" href="{% url 'event_solution' slug=event.slug %}">Прикрепить работу</a>
                            {% endif %}
                        {% endif %}
                        {% if event.regulations %}
                            <a class="nav-item nav-link link-body-emphasis" href="{{ event.regulations.url }}">Положение</a>
                        {% endif %}
                        {% if event.results %}
                            <a class="nav-item nav-link link-body-emphasis" href="{{ event.results.url }}">Итоги</a>
                        {% endif %}
                        <a class="nav-item nav-link" href="#">QR-код</a>
                    </nav>
                </div>
                <img src="data:image/png;base64,{{ qr_code }}" class="img-fluid" alt="...">
            </div>
        </div>
    </div>
{% endblock %}
