{% extends "base.html" %}

{% block title %}
    {{ event.name }} &bull;
{% endblock %}

{% block content %}
    <div class="">
        <h1 class="h1 text-center">{{ event.name }}</h1>
        <div class="d-flex align-items-center py-4 bg-body-tertiary">
            <div class="form w-100 m-auto">
                {% if event.image %}
                    <svg style="margin-bottom: 10px;" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: {{ event.name }}" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <image xlink:href="{{ event.image.url }}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false" />
                    </svg>
                {% endif %}
                {% if event.status == 'Регистрация открыта' %}
                    {% if not is_user_participation_of_event or request.user.role != 'ученик' %}
                        {% if event.date_of_ending_registration %}
                            Регистрация заканчивается {{ event.date_of_ending_registration }}<br>
                        {% endif %}
                        <div style="display: flex; justify-content: center;">
                            <a href="{% url 'register_on_event' slug=event.slug %}" class="btn btn-primary w-100 py-2" style="justify-content: center;">Регистрация</a>
                        </div>
                        <br>
                    {% endif %}
                {% endif %}
                <div class="nav-scroller py-1 mb-3 border-bottom">
                    <nav class="nav nav-underline justify-content-between">
                        <a class="nav-item nav-link" href="#">О событии</a>
                        {% if is_user_participation_of_event or teams or participants %}
                            <a class="nav-item nav-link link-body-emphasis" href="{% url 'edit_participant_event' slug=event.slug %}">Анкета</a>
                            {% if event.task_set.exists or event.need_presentation %}
                                <a class="nav-item nav-link link-body-emphasis" href="{% url 'event_solution' slug=event.slug %}">Прикрепить работу</a>
                            {% endif %}
                        {% endif %}
                        {% if event.regulations %}
                            <a class="nav-item nav-link link-body-emphasis" href="{{ event.regulations.url }}">Положение</a>
                        {% endif %}
                        {% if event.results %}
                            <a class="nav-item nav-link link-body-emphasis" href="{{ event.results.url }}">Итоги</a>
                        {% endif %}
                        <a class="nav-item nav-link link-body-emphasis" href="{% url 'event_qr_code' slug=event.slug %}">QR-код</a>
                    </nav>
                </div>
                <div id="ckeditor-display">
                    {{ event.description|safe }}
                </div>
                статус: {{ event.get_status_display }}<br>
                {% if minimum_number_of_team_members == 1 %}
                {% else %}
                {% endif %}
                тип: {{ event.get_type_display }}<br>
                уровень: {{ event.get_stage_display }}<br>

                {% if event.date_of_starting_event %}
                    Дата начала мероприятия: {{ event.date_of_starting_event }}<br>
                {% endif %}
                {% if event.type != 'Индивидуальное' %}
                    Размер команды: от {{ event.minimum_number_of_team_members }} до {{ event.maximum_number_of_team_members }}<br>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
