{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
    Регистрация на {{ event.name }} &bull;
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <div class="form w-100 m-auto">
            <form method="POST" class="form w-100 m-auto">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-norma text-center"><a href="{% url 'event_detail' slug=event.slug %}">{{ event.name }}</a></h1>
                {% if event.type == 'Индивидуальное' %}
                    {% bootstrap_form participant_form %}
                {% else %}
                    {% bootstrap_form team_form %}
                    {% bootstrap_form team_participants_form %}
                {% endif %}
                {% bootstrap_form supervisor_form %}
                <button class="btn btn-primary w-100 py-2" style="margin-top: 10px;" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock %}
