{% extends "base.html" %}

{% block title %}
    Сбросить пароль &bull;
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <div class="form w-100 m-auto">
            <h1 class="h3 mb-3 fw-normal">Сбросить пароль</h1>
            <p>Мы отправили вам по электронной почте инструкции по установке пароля.</p>
            <p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, под которым зарегистрировались.</p>
        </div>
    </div>
{% endblock %}
