{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
    Сбросить пароль &bull;
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <div class="form w-100 m-auto">
            <form method="POST" class="form w-100 m-auto">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Забыли пароль?</h1>
                <p>Введите свой адрес электронной почты, чтобы получить новый пароль.</p>
                {% bootstrap_form form %}
                <button class="btn btn-primary w-100 py-2" type="submit">Отправить письмо на почту</button>
            </form>
        </div>
    </div>
{% endblock %}
